<% if index==0 %>
    <li class="user-item-message user-item-message-nw speech-bubble speech-bubble-nw">
        <%= post.content %>
    </li>
<% end %>
<% if index==1 %>
    <li class="user-item-message user-item-message-ne speech-bubble speech-bubble-ne">
        <%= post.content %>
    </li>
<% end %>
<% if index==2 %>
    <li class="user-item-message user-item-message-sw speech-bubble speech-bubble-sw">
        <%= post.content %>
    </li>
<% end %>
<% if index==3 %>
    <li class="user-item-message user-item-message-se speech-bubble speech-bubble-se">
        <%= post.content %>
    </li>
<% end %>