<div class="main">
<h1 class="users-heading heading">メンバー</h1>
    <div class="users-index">
        <% @users.each do |user| %>
            <%= render partial: "userObject", locals: { user: user, posts: @posts.where(send_id: user.id) } %>
        <% end %>
    </div>
</div>