<div class="main users-new">
    <div class="container">
        <h1 class="form-heading">ログイン</h1>
        <div class="form user-form">
            <div class="form-body">
                <% if @error_message %>
                    <div class="form-error">
                        <%= @error_message %>
                    </div>
                <% end %>
                <%= form_tag("/login") do %>
                    <p>ニックネーム</p>
                    <input name="name" value=<%= @name %>>
                    <p>パスワード</p>
                    <input name="password" type="password" value=<%= @password %>>
                    <input type="submit" value="ログイン">
                <% end %>
            </div>
        </div>
    </div>
</div>