<div class="main bg-lightorange">
    <h1 class="heading font-orange">パスワード再発行</h1>
    <div class="main-content bg-white shadow-gray">
        <% if @error_message %>
            <div class="form-error">
                <%= @error_message %>
            </div>
        <% end %>
        <%= form_tag("/reissue") do %>
            <div class="form-item">
                <p>ニックネーム</p>
                <input name="name" value=<%= @name %>>
            </div>
            <div class="form-item">
                <p>新しいパスワード</p>
                <input name="password" type="password" value=<%= @password %>>
            </div>
            <div class="form-submit">
                <input class="bg-orange font-white" type="submit" value="再発行">
            </div>
        <% end %>
    </div>
</div>