<div class="about-main">
    <h2>CommunicationAppとは</h2>
    <p>
        グループメンバーのいいところを書き込んでいき、他のユーザーと楽しく交流できるSNSサービスです。
    </p>
    <img class="about-img" src="/assets/screenshot_input_01.png">
    <img class="about-img" src="/assets/screenshot_mainview_01.png">
</div>