<div class="main top-main">
    <div class="top-mask">
        <div class="top-message">
            <h2>
                拡げよう、いいねの輪
            </h2>
            <h3>
                みんなのいいね！をたくさん投稿しよう！<br>目指せ、いいとこさがしの名人！！
            </h3>
            <p>
                さあ、いますぐはじめよう！
            </p>
        </div>
    </div>
</div>