<div class="main top-main">
    <div class="top-mask">
        <div class="top-message">
            <h2>
                見える、人間関係<br>
                わかる、接し方
            </h2>
            <h3>
                目に見えない人間関係。<br>
                このツールで可視化しませんか？
            </h3>
            <p>さあ、いますぐはじめよう！</p>
        </div>
    </div>
</div>