// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* top ================================== */
.top-main {
    padding: 200px 0 100px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    color: white;
    background-color: #3ecdc6;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: image-url("jerry-beans.jpg");
}

.top-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.top-message {
    padding: 200px 0 100px;
    text-align: center;
    color: white;
}

.top-message h2 {
    font-size: 70px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

.top-message h3 {
    font-size: 30px;
}

.top-message p {
    font-size: 24px;
}

/* about =================== */
.about-main {
    padding: 180px 8% 0;
    color: rgb(255, 159, 56);
}

.about-main h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
}

.about-main p {
    font-weight: 200;
    font-size: 20px;
}

.about-img {
    width: 40%;
    padding: 10px 5%;
    text-align: left;
}
