// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ============= */
.users-container {
    position: relative;
    padding: 5em 10em;
}

.user-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 10em;
    height: 10em;
    margin-bottom: 5em;
    margin-right: 2em;
    vertical-align: top;
}

.user-item-name {
    background-color: white;
}

.user-item-icon {
    width: 50%;
    height: 50%;
    background-color: white;
    border: solid 0.2em rgba(226, 117, 0, 1);
    cursor: pointer;
}

.user-item-message {
    position: absolute;
    width: 10em;
    height: 5em;
    top: -5em;
    left: -6em;
    color: rgba(75, 75, 75, 1);
    display: none;
}

.user-item-message-nw {
    top: -5em;
    left: -7em;
}

.user-item-message-ne {
    top: -5em;
    left: 7em;
}

.user-item-message-sw {
    top: 10em;
    left: -7em;
}

.user-item-message-se {
    top: 10em;
    left: 7em;
}
